#slider-container{
 margin-top: 0;
}
.slider{
    /* margin-bottom: 5px; */
    position: relative;
}


.slider .owl-item.active.center .slider-card{
 transform: scale(1.15);
 opacity: 1;
 background: rgba(139, 140, 137, 0.6);
 border-radius: 30px;
 height: auto;
 padding: 5px;
}
.slider .owl-item.active.center .slider-card .slider-card img{

    height: 190px;
}

.slider-card{
    background: rgba(139, 140, 137, 0.8);
    /* margin: 0px 15px 90px 15px; */
    border-radius: 30px;
    /* box-shadow: 0 15px 45px -20px rgba(206, 191, 191, 0.493); */
    transform: scale(0.7);
    opacity: 0.9;
    transition: all 0.3s;
    height: auto;
    padding: 5px;
}

.slider-card img{
    /* border-radius: 5px; */
    height: 190px;
}

.card-news-header{
    font-size: 10px;
}

.owl-nav .owl-next{
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}
.owl-nav .owl-prev{
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}


