body{
    /* max-height: 100vh; */
    overflow-y: hidden;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/regi-back.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-nav{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    font-size: 12px;    
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.user-prof-info{
  display: none;
}

#user-name{
    font-size: 25px;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

#user-fullname{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

#user-email{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-top: -10px;
}



.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
    border: 5px solid #8338ec;
    margin-top: 20px;
}

ul{
    list-style: none;
    padding: 0px 15px;
    margin: 0px;

}

.profile-nav{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

#logout-button{
    text-decoration: none; 
    color: black; 
    display:flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: red;
    margin: 0;
}


ul li img{
    width: 30px;
    margin-right: 10px;
}

ul li p{
    white-space: nowrap;
    margin-top: 0.8rem;
    margin-left: 1rem;
    display: none;
}


.side-nav:hover{
    width: 250px;
}

.side-nav:hover .user-prof-info{
    display: block;
}

.side-nav:hover .user{
    width: 100%;
}

.side-nav:hover .user-img{
    width: 140px;
}

.side-nav:hover .profile-nav{
    margin: 0;
    justify-content: flex-start;
}

.side-nav:hover ul li p{
    display: block;
}




/*=========================== Main Content CSS ===================================== */

.side-nav:hover + #main-content {
    margin-left: 251px;
  }

#main-content {
    display: flex;
    flex-direction: column;
    margin-left: 111px; 
    padding: 20px; 
    margin-top: 6rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    
}
  
#main-content-sub {
    width: 100%;
    margin: auto; 
}
.main-header{
    font-weight: 600;
    color: #101820;
}
.main-header-1{
    color: #3A6B35;
    /* color: #EAD65A; */
  }
.main-header-2{
    color: #2F3C7E;
    /* color: #317773; */
  }
 

.weather{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.weather-card p {
    margin: 0; 
}
.weather-card {
    background: rgba(139, 140, 137, 0.6);
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 1rem auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 45vh;
    padding: 15px;
    color: white;
}

#weather-date{
    font-weight: 500;
}
.weather-sub-div-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.weather-sub-div-1 p{
    margin: 0;
    padding: 0;
}

.weather-sub-div-2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.weather-footer p{
    margin: 0;
    padding: 0;
}

#weather-temperature{
    font-size: 65px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}
#weather-city{
    font-size: 15px;
    font-weight: 800;
}


.weather-footer-readings{
    font-size: 17px;
    font-weight: 600;
}

.weather-footer-tags{
    font-size: 11px;
}

@media (max-width: 768px) {
    /* Adjust the common styles for smaller screens here */
    .side-nav {
        width: 80px;
    }
    .main-header{
        font-weight: 600;
        font-size: large;
    }
    .user {
        width: 20px;
        font-size: 10px;
    }
    .user-img {
        width: 20px;
        margin-top: 10px;        
        border: 2px solid #8338ec;
    }
    .profile-nav {
        margin: 30px 0;
        font-size: large;
    }
    ul li img {
        width: 20px;
    }
    
    /* Adjust the weather-card for smaller screens */
    .weather-card {
        width: 100%;
        font-size: 14px;
    }

    /* Add other style adjustments for smaller screens */
    .side-nav:hover + #main-content {
        margin-left: 81px;
      }
    #main-content {
        margin-left: 81px;
      }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    /* Adjust the common styles for even smaller screens here */
    .side-nav {
        width: 60px;
    }
    .main-header{
        font-weight: 600;
        font-size: large;
    }
    .user {
        width: 30px;
        font-size: 8px;
    }
    .user-img {
        width: 20px;
        margin-top: 5px;
    }
    .profile-nav {
        margin: 20px 0;
    }
    ul li img {
        width: 15px;
    }
    
    /* Adjust the weather-card for even smaller screens */
    .weather-card {
        width: 100%;
        font-size: 12px;
    }

    /* Add other style adjustments for even smaller screens */
} 

@media only screen and (max-width: 1284px) and (orientation: landscape) {
    .side-nav {
        width: 100px;
        height: 100vh;
        padding: 15px 10px;
        justify-content: space-around;
    }
    .main-header{
        font-weight: 600;
        font-size: large;
    }
    .user {
        flex-direction: row;
        width: 20px;
        font-size: 10px;
        margin-top: 10px;
    }
    .user-img {
        width: 20px;
        margin-top: 10px;
        border: 1px solid #8338ec;
    }
    .profile-nav {
        margin: 5px 0;
        font-size: smaller;        
    }
    ul li img {
        width: 15px;
    }
    ul{
        padding: 0px 5px;
    }
    ul li p{
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
    .side-nav:hover .user{      
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        padding: 2px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }
    .side-nav:hover .user-img{
        width: 40px;
    }
    .side-nav:hover .user-prof-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #user-name, #user-email {
        text-align: left; /* Align text to the left */
      }
    #user-name{
        font-size: 14px;
        font-weight: 400;
        margin-top: 17px;
    }
    #user-fullname{
        display: none;
    }
    #user-email{
        font-size: 10px;
        font-weight: 200;
    }
    
    /* Adjust the weather-card for smaller screens */
    .weather-card {
        width: 60%;
        font-size: 14px;
    }

    /* Add other style adjustments for smaller screens */
    .side-nav:hover + #main-content {
        margin-left: 81px;
      }
    #main-content {
        margin-left: 81px;
      }

    #weather-temperature{
        font-size: 30px;
        font-weight: 500;
      }
    #weather-city{
        font-size: 13px;
        font-weight: 500;
      }
    #weather-description{
        font-size: 13px;
      }
    .weather-footer-readings{
        font-size: 10px;
        font-weight: 600;
    }
    
    .weather-footer-tags{
        font-size: 8px;
    }
    #weather-date{
        font-size: 13px;
        font-weight: 300;
    }
   
}


