
:root {
  --front-text-color: white; 
  --back-text-color: white; 
  --progressbar-progress-color: white; /* #3d348b; */
}


.team-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.flip-card {
    width: 280px;
    height: 380px;
    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flip-card .front-side,
.flip-card .back-side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: rgba(255, 255, 255, 0.1); 
    /* transition: transform 0.5s, opacity 0.5s; */
    opacity: 1; /* Initially, both sides are fully visible */
    border-radius: 0 20px 0 20px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.flip-card .back-side {
    transform: rotateY(180deg);
    opacity: 0; /* Hide the back side initially */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card:hover .front-side {
    opacity: 0; /* Hide the front side on hover */
}

.flip-card:hover .back-side {
    opacity: 1; /* Show the back side on hover */
}

.flip-card img {
    width: 150px;
    height: 150px;
    margin: 30px 0 20px 0;
    border-radius: 60%;
    border: 10px solid #8338ec;
}

.front-side h1 {
    font-size: 20px;
    color: var(--front-text-color);
}

.front-side h2 {
    font-size: 16px;
    margin-top: 5px;
    color: var(--front-text-color);
}

.front-side b {
    font-size: 14px;
    margin-top: 5px;
    color: var(--front-text-color);
}



.back-side h1{
    font-size: 18px;
    margin-top: 10px;
    color: var(--back-text-color);
}

.social-links a{
    font-size: 18px;
    display: inline-block;
    background: #7d82b8;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    text-align: center;
    transition: 0.3s;

}

.social-links a:hover{
    background-color: #fff;
    color:#7d82b8;
    text-decoration: none;
}


/* =============BackSide CSS===============  */

.iner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.skill-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-bottom: 10px;
}

.info span {
    font-size: 12px;
    font-weight: 500;
    color: var(--back-text-color);
}

/* Define the initial state of the progress bars */
.progress-bar {
    width: 0; /* Initialize width to 0 */
    height: 8px;
    background-color: rgb(61, 52, 139,0.5);
    border-radius: 10px;
    position: relative;
}

.progress-bar span {
    background: var(--progressbar-progress-color);
    height: 100%;
    border-radius: 10px;
}

/* Define animation for filling the progress bars */
@keyframes fill-progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Apply the animation on card hover */
.flip-card:hover .progress-bar {
    animation: fill-progress 1s forwards; /* Add animation on hover */
}

/* You can adjust the width for each skill individually */
.html .progress-bar {
    animation-delay: 0.3s; /* Delay animation for HTML skill */
}

.css .progress-bar {
    animation-delay: 0.6s; /* Delay animation for CSS skill */
}

.javascript .progress-bar {
    animation-delay: 0.9s; /* Delay animation for JavaScript skill */
}

.bootstrap .progress-bar {
    animation-delay: 1.2s; /* Delay animation for Bootstrap skill */
}