<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/dummy.css">
</head>
<body>
    <h1>Dummy Page</h1>
    <!-- <label id="team-card-container">
        <input id="team-checkbox" type="checkbox"/>
        <div class="flip-card">
            <div class="front-side">
            <img src="/agri_optima_app/static/img/image-1.jpg" alt="">
            <h1>Khondoker Aminuzzaman</h1>
            <h2>UI Designer</h2>
            <b>khondoker.aminuzzaman99@gmail.com</b>
            <p>Click to flip</p>
            </div>
            <div class="back-side">
             <h1>Contribution</h1>
             <hr/>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sunt fugiat nesciunt doloribus autem esse accusantium assumenda laudantium quis? Rem porro necessitatibus exercitationem numquam placeat.</p>
             <p class="click">Click to flip</p>
            </div>
        </div>
    </label> -->

    <div class="team-card-container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="front-side">
                    <img src="/agri_optima_app/static/img/image-1.jpg" alt="">
                    <h1>Khondoker Aminuzzaman</h1>
                    <h2>Full Stack Developer</h2>
                    <b>khondoker.aminuzzaman@gmail.com</b>
                    <!-- <p>Click to flip</p> -->
                </div>
                <div class="back-side">
                    <h1>Project Contribution</h1>
                    <!-- <hr/>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sunt fugiat nesciunt doloribus autem esse accusantium assumenda laudantium quis? Rem porro necessitatibus exercitationem numquam placeat.</p> -->
                    <!-- <p class="click">Click to flip</p> -->
                    <div class="iner-wrapper">
                        <div class="skill-bar">
                          <div class="info"><span>HTML</span></div>
                          <div class="progress-bar html"><span></span></div>
                        </div>
                        <div class="skill-bar">
                          <div class="info"><span>CSS</span></div>
                          <div class="progress-bar css"><span></span></div>
                        </div>
                        <div class="skill-bar">
                            <div class="info"><span>Bootstrap</span></div>
                            <div class="progress-bar bootstrap"><span></span></div>
                        </div>
                        <div class="skill-bar">
                          <div class="info"><span>JavaScript</span></div>
                          <div class="progress-bar javascript"><span></span></div>
                        </div>
                        <div class="skill-bar">
                          <div class="info"><span>Python</span></div>
                          <div class="progress-bar javascript"><span></span></div>
                        </div>
                        <div class="skill-bar">
                          <div class="info"><span>Django</span></div>
                          <div class="progress-bar javascript"><span></span></div>
                        </div>
                        
                      </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Back-side testing  -->
    <div class="outer-Container">
        <h1>My Skillls</h1>
        <div class="iner-wrapper">
          <div class="skill-bar">
            <div class="info"><span>HTML</span></div>
            <div class="progress-bar html"><span></span></div>
          </div>
          <div class="skill-bar">
            <div class="info"><span>CSS</span></div>
            <div class="progress-bar css"><span></span></div>
          </div>
          <div class="skill-bar">
            <div class="info"><span>JavaScript</span></div>
            <div class="progress-bar javascript"><span></span></div>
          </div>
          <div class="skill-bar">
            <div class="info"><span>Bootstrap</span></div>
            <div class="progress-bar bootstrap"><span></span></div>
          </div>
        </div>
    </div>
    

</script>
</body>
</html>